<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{static/css/style.css}" rel="stylesheet" type="text/css"/>

    <title>strona główna</title>
</head>

<body>

<ul>
    <li><a href="/add">Dodaj Zwierzę</a></li>
    <li><a href="/remove">Usuń Zwierzę</a></li>
    <li><a href="/edit">Edytuj</a></li>
    <li style="float:right">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Wyloguj"/>
        </form>
    </li>
</ul>


<br/>
<br/>
<br/>

<h1>Lista Mieszkańców</h1>
<br/>
<br/>
<div class="center_content">


    <div id="table">
        <table border="2" width="90%">
            <tr>
                <th>Id</th>
                <th>Imię</th>
                <th>Płeć</th>
                <th>Wiek</th>
                <th>Waga</th>
                <th>Opiekun</th>
                <th>Zdjęcie</th>
            </tr>
            <tr th:each="Dog : ${listd}">
                <td th:text="${Dog.getId()}"></td>
                <td th:text="${Dog.getName()}"></td>
                <td th:text="${Dog.getSex()}"></td>
                <td th:text="${Dog.getAge()}"></td>
                <td th:text="${Dog.getWeight()}"></td>
                <td th:text="${Dog.getKeeper()}"></td>
               <td th:file="${Dog.getPicture()}"></td>

            </tr>
        </table>
    </div>

</div>
</body>
</html>