<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <link th:href="@{static/css/style.css}" rel="stylesheet" type="text/css"/>
    <title>usuń Zwierzę</title>
</head>
<body>
<ul>
    <li><a href="/add">Dodaj Zwierzę</a></li>
    <li><a href="/remove">Usuń Zwierzę</a></li>
    <li><a href="/edit">Edytuj</a></li>
    <li style="float:right">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Wyloguj"/>
        </form>
    </li>
</ul>
<br/>
<br/>
<br/>

<h1>Usuń Informacje o Mieszkańcu</h1>

<div class="center_content">


    <form action="#" th:action="@{/remove}" th:object="${dog}" method="post">
        <div class="label"><label for="id">Id: </label></div>
        <input type="text" id="id" th:field="*{id}" placeholder="Podaj Id Psa"/>
        <p><input type="submit" value="Usuń Psa"/></p>


    </form>
    <br/>
    <br/>

</div>

</body>
</html>